/* after active dropdowns and buttons border-color will change from this in dashborad*/

.dashboard-button {
    border: none;
    outline:none; 
    width:50px; 
    height:40px ;
    
}
.dashboard-button:focus{
    background-color:#C21E56 ;
    
}

body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  
  header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }

  .sidebar{
    z-index: 1 !important;
    top: 0;
    background: #2f323a;
    margin-top: 60px;
    padding-top: 20px;
    position: fixed;
    left: 0;
    width: auto;
    height: 100%;
    transition-property: left;
    overflow-y: auto;
  }

  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    font-size: 36 !important;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
  
  .sidebar span{
    transition-duration: 0.9s;
    transition: ease;
    margin-right: 50px;
    margin-left: 5px;
  }

  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .dropdown .show{
    width: 210px;
    padding-left: 10px ;
    margin: 0px;
  }
  .sidebar i{
    padding-right: 9px;
    padding-left: 4px;
  }
  
  .side-dropdown{
    background-color:#22242A !important;
    width: 100%;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  .content{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left:55px;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
  }
  
  
  .mobile_nav{
    display: none;
  }
  
  .content .card p{
    background: #fff;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.8;
  }
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #222;
      width: (100% - 0px);
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  }
                             

.has_error{
    border-color:		rgb(255, 128, 128);
    border-width: 2px;
  }

  .validOne{
    outline: none !important;
    border-color:		rgb(255, 128, 128) !important; 
    border-width: 3px;
  }
  