@media (min-width: 1500px) {}

body{
    font-size: 15px !important;
}
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table,th,td {
    border: 1px solid #ddd;

}

table,tr,td {
    padding: 5px;
}

th{
    padding:10px;
}

td{
    text-align: center;
}

#title{
    font-size: 17px !important;
    text-align: center;
    margin-bottom: 5px;
}

#subTitle{
    font-size: 16px !important;
    margin-top: 0;
    text-align: center;
}

#heading{
    margin:0;
    text-align: left;
}

#price{
    margin-right: 0px !important;
    text-align: right !important;
    align-self: flex-end;
}

#itemCode{
    margin-left: 0px !important;
    text-align: left !important;
    align-self: flex-start;
}